* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


body {
    background-color: #171717;

    .container {
        margin: 0 auto;
        max-width: 1200px;

        .header {
            height: 79px;
            margin-top: 37px;
            display: flex;
            justify-content: space-between;

            .header__contact-button {
                width: 218px;
                height: 50px;
                border: 1px solid #E4B564;
                color: #E4B564;
                font-size: 18px;
                font-weight: 400;
                display: flex;
                justify-content: center;
                align-items: center;

                .phone-icon {
                    width: 16px;
                    margin-right: 8px;
                }
            }
        }
    }

    main {

        .container {
            margin: 0 auto;
            max-width: 1200px;

            .heat-network {
                margin-top: 80px;

                .heat-network__title {
                    color: #FFF;
                    font-size: 50px;
                    font-weight: 700;
                }

                .heat-network__text {
                    width: 1120px;
                    margin-top: 40px;
                    color: #FFF;
                    font-size: 20px;
                    font-weight: 700;
                }

                .heat-network__wrapper {
                    margin-top: 40px;
                    display: grid;
                    grid-template-columns: 32% 15% 15% 32%;
                    grid-template-rows: repeat(2, 384px);
                    grid-gap: 2%;
                    grid-template-areas:
                        "excavation-work pipeline pipeline canals"
                        "support support well well";

                    .heat-network__grid {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #FFF;
                        text-align: center;
                        font-size: 20px;
                        font-weight: 700;
                    }

                    .heat-network__excavation-work {
                        grid-area: excavation-work;
                        background-color: #634F2C;
                    }

                    .heat-network__pipeline {
                        padding: 0 44px;
                        grid-area: pipeline;
                        background-color: #B4A385;

                    }

                    .heat-network__canals {
                        grid-area: canals;
                        background-color: #E4B564;
                    }

                    .heat-network__support {
                        grid-area: support;
                        background-color: #635A4A;
                    }

                    .heat-network__well {
                        grid-area: well;
                        background-color: #B08C4D;
                    }
                }
            }
        }

        .container {
            margin: 0 auto;
            max-width: 1200px;

            .car-park {
                margin-top: 160px;

                .car-park__title {
                    color: #FFF;
                    font-size: 50px;
                    font-weight: 700;
                }

                .car-park__wrapper {
                    margin-top: 40px;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: 254px 52px 54px 100px 154px 282px;
                    grid-column-gap: 28px;
                    grid-row-gap: 24px;
                    grid-template-areas:
                        "mule sewer backhoe-loader"
                        "mule sewer kamaz"
                        "mule sewer kamaz"
                        "loader sewer kamaz"
                        "loader excavator kamaz"
                        "loader excavator roadroller"
                    ;

                    .car-park__grid {
                        padding-left: 48px;
                        padding-top: 48px;
                        color: #FFF;
                        font-size: 20px;
                        font-weight: 400;
                    }

                    .car-park__mule {
                        grid-area: mule;
                        background-color: #0E0E0E;
                    }

                    .car-park__mule--text,
                    .car-park__sewer--text {
                        font-weight: 700;
                    }

                    .car-park__sewer {
                        grid-area: sewer;
                        background-color: #242424;
                    }

                    .car-park__backhoe-loader {
                        grid-area: backhoe-loader;
                        background-color: #1F1F1F;
                    }

                    .car-park__loader {
                        grid-area: loader;
                        background-color: #1F1F1F;
                    }

                    .car-park__excavator {
                        grid-area: excavator;
                        background-color: #E4B564;
                        color: #000;
                    }

                    .car-park__kamaz {
                        grid-area: kamaz;
                        background-color: #0E0E0E;
                    }

                    .car-park__roadroller {
                        grid-area: roadroller;
                        background-color: #0A0909;
                        font-weight: 700;
                    }
                }
            }
        }

        .clients {
            margin-top: 190px;
            background-color: #0E0E0E;

            .container {
                margin: 0 auto;
                width: 1460px;

                .clients__header {
                    padding-top: 160px;
                    display: flex;
                    justify-content: space-between;

                    .clients__title {
                        color: #FFF;
                        font-size: 50px;
                        font-weight: 700;
                    }

                    .clients__projects--button {
                        width: 180px;
                        height: 50px;
                        border: 1px solid #E4B564;
                        color: #E4B564;
                        font-size: 18px;
                        font-weight: 400;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                .clients-block {
                    margin-top: 64px;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                
                    .clients__client-box {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 400px;
                    }
                
                    .clients__eid {
                        background-color: #634F2C;
                    }
                
                    .clients__setl-grey {
                        background-color: rgba(232, 210, 171, 0.76);
                        display: flex;
                        flex-direction: column;
                        padding: 0 10%;
                        color: #FFF;
                        text-align: center;
                        font-size: 22px;
                        font-weight: 500;
                        gap: 12px;
                    }
                
                    .clients__setl-light {
                        background-color: #E4B564;
                    }
                
                    .clients__eid-dark {
                        background-color: #635A4A;
                        display: flex;
                        flex-direction: column;
                        gap: 4px;
                    }
                
                    .clients__setl-dark {
                        background-color: #B08C4D;
                    }
                }
            }                
        }
    }

    .footer {
        height: 240px;
        background: #171717;
    }
}